.desktop-fixtures{
  align-items: stretch; 
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
}

.desktop-fixture-entry{
  display: flex;
  flex-direction: column;
  width: 10em;
  background-color: #bbb;
  border-radius: 12px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding-top: 1.5em;
  overflow: hidden;
}

.fixture-name,
.fixture-config{
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.fixture-name{
  height: 4em;
}
.fixture-config{
  flex: 1;
}
.fixture-img{
  height: 8em;
}
