.desktop-fixtures{
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
}

.desktop-fixture-outer{
  border-radius: 8px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding: .5em;
}
.desktop-fixture-entry{
  display: flex;
  align-items: center;
  height: 4em;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer
}

.fixture-name{
  padding-left: 1em;
  width: 8em;
}
.fixture-config{
  
}
.fixture-img-container{
  flex: 1;
  position: relative;
  overflow: hidden;
  height: 100%;
}
.fixture-img{
  position: absolute;
  top: -17px;
  bottom: -17px;
  left: -17px;
  right: -17px;
  filter: blur(12px);
}
.fixture-img-overlay{
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.83) 100%);
}
