.desktop-fixtures{
  align-items: center; 
  padding-left: 2em;
  padding-right: 2em;
}

.desktop-fixture-entry{
  width: 10em;
  height: 80%;
  background-color: #bbb;
  border-radius: 12px;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
