.desk-layout-top{
}

.desk-layout-images-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s .3s opacity .3s;
  background: rgba( 0, 0, 0, .7);
}

.images-showing .desk-layout-images-overlay{
  visibility: visible;
  opacity: 1;
  transition: opacity .3s;
}

.desk-layout-scenes{
  height: 7em;
  background-color: white;
  position: relative;
}

.desk-layout-selected-scene{
  height: 7em;
  display: flex;
  align-items: center;
  padding-left: 3.5em;
  
  color: white;
}

.desk-layout-scene-info-elem{
  padding-right: 2em;
}

.desk-layout-fixtures{
  flex: 1;
  position: relative;
}
