.desk-layout-scenes{
  height: 7em;
  background-color: white;
  position: relative;
}

.desk-layout-selected-scene{
  height: 7em;
  display: flex;
  align-items: center;
  padding-left: 3.5em;
  
  color: white;
}

.desk-layout-scene-info-elem{
  padding-right: 2em;
}

.desk-layout-fixtures{
  flex: 1;
  position: relative;
}
